@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --cells-icon-container-display: inline-block;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --multiple-icons;
}

.multiple-icons-container{
  display: var(--multiple-icons-container-display, inline-block);
  @apply --multiple-icons;
}

h4{
  margin-top: var(--multiple-icons-margin-top-h4, 0);
  margin-bottom: var(--multiple-icons-margin-bottom-h4, 0);
  padding-left: var(--multiple-icons-h4-padding-left, 1em);
  @apply --multiple-icons;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
