<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-icon/cells-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<link rel="import" href="multiple-icons-styles.html">
<dom-module id="multiple-icons">
  <template>
      <style include="multiple-icons-styles"></style>
       <h4>[[description]]</h4>
          <div class="multiple-icons-container">
            <cells-icon
            list='[[icons]]'
            ></cells-icon> 
          </div>
  </template>
  <script src="multiple-icons.js"></script>
</dom-module>